<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
    <title>caveman's &ldquo;theories&rdquo;</title>
    <meta http-equiv='content-type' content='text/html;charset=utf-8' />
    <link href='../../pics/purdy.css' rel='stylesheet' type='text/css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
</head>
<body>

<main>
    <!-- header -->
    <header>
    <div class='space'>
    <div class='sky'>
    <div class='stars'>
    <div class='pages_ground'>
    <div class='pages_pics'>
    <img class='pages_caveman' title='hi.' alt='caveman' src='../../pics/caveman.png' />
    <img class='cat' title='meo.' alt="caveman's cat" src='../../pics/cat_glowing.png' />
    </div>
    </div>
    </div>
    </div>
    </div>
    </header>

    <!-- articles -->
    {ARTICLES}

    <!-- navigation -->
    <nav>
        <h2>more &ldquo;<em>theories</em>&rdquo; for u</h2>
        <p>
            {PAGESLINKS}. <a href='lol'>site map</a>.
        </p>
    </nav>

    <!-- copy right and stuff -->
    <footer>
    <p>
    <small>
        Powered by
        <a href='https://github.com/al-caveman/cavemancms'>CavemanCMS</a>
        and
        <a href='https://github.com/al-caveman/cavemark'>CaveMark</a>.
        Copyright © 2018 caveman.
    </small>
    </p>
    </footer>
</main>
</body>
</html>
