<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
    <title>caveman's &ldquo;theories&rdquo;</title>
    <meta http-equiv='content-type' content='text/html;charset=utf-8' />
    <link href='./pics/purdy.css' rel='stylesheet' type='text/css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
</head>
<body>

<!-- header -->
<header>
<div class='space'>
<div class='sky'>
<div class='stars'>
<div class='ground'>
<div class='texts'>
    <h1>hi. some coffee?
    <img alt='coffee cup' src='./pics/coffee.png' /></h1>
    <h3>i got some &ldquo;<em>theories</em>&rdquo; for u, below</h3>
    <h4>about lots of diverse stuff...</h4>
</div>
<div class='pics'>
    <img class='caveman' title='hi.' alt='caveman' src='./pics/caveman_npc.png' />
    <img class='cat' title='meo.' alt="cat" src='./pics/cat_glowing.png' />
</div>
</div>
</div>
</div>
</div>
</header>

<main>
    <!-- articles -->
    {ARTICLES}

    <hr />

    <!-- navigation -->
    <nav>
        <h2>more &ldquo;<em>theories</em>&rdquo; for u</h2>
        <p>
            {PAGESLINKS}. <a href='lol'>site map</a>.
        </p>
    </nav>

    <!-- copy right and stuff -->
    <footer>
    <p>
    <small>
        Powered by
        <a href='https://github.com/al-caveman/cavemancms'>CavemanCMS</a>
        and
        <a href='https://github.com/al-caveman/cavemark'>CaveMark</a>.
        Copyright © 2018 caveman.
    </small>
    </p>
    </footer>
</main>
</body>
</html>
