/* common stuff */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
body {
    margin: 0px;
    background-color: #1a1a1a;
    color: #aaaaaa;
    font-family: 'Roboto', sans-serif;
}
hr {
    border: 0;
    border-bottom: 1px dashed #555;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
    color: #eeeeee;
}
h2 {
    margin-top: 2em;
}
h2 a.hindex {
    background-color: #55cc55;
    color: black;
    font-weight: bold;
}
h2 a.hindex:hover {
    background-color: lime;
    color: black;
    text-decoration: none;
}

/* header stuff */
header div.space {
    background: black;
}
header div.sky {
    background: linear-gradient(#500050,#000020,black);
}
header div.stars {
    background-image: url('stars.png');
    background-position: top; 
    background-repeat: repeat-x;
    background-attachment: fixed;
}
header div.ground {
    height:100vh;
    background-image: url('ground.png');
    background-position: bottom; 
    background-repeat: repeat-x;
}
header div.pages_ground {
    height:250px;
    background-image: url('ground.png');
    background-position: bottom; 
    background-repeat: repeat-x;
}
header div.texts {
    position: absolute;
    text-align: center;
    bottom: 210px;
    left: 0px;
    right: 0px;
}
header div.pics {
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 0px;
    right: 0px;
}
header div.pages_pics {
    text-align: center;
    bottom: 20px;
}
header img.caveman {
    filter: grayscale(80%);
}
header img.caveman:hover {
    filter: grayscale(0%);
    filter: brightness(150%);
}
header img.pages_caveman {
    margin-top: 45px;
    filter: grayscale(80%);
}
header img.pages_caveman:hover {
    filter: grayscale(0%);
    filter: brightness(150%);
}
header img.cat:hover {
    filter: hue-rotate(90deg);
}
header img.magicball{
    filter: grayscale(50%) brightness(70%);
}
header img.magicball:hover {
    filter: grayscale(0%) brightness(100%);
}
header img.pages_magicball{
    margin-top: 155px;
    filter: grayscale(50%) brightness(70%);
}
header img.pages_magicball:hover {
    margin-top: 155px;
    filter: grayscale(0%) brightness(100%);
}


/* footer stuff */
footer {
    color: #777777;
}
footer p {
    text-align: justify;
    text-justify: inter-word;
}
footer a {
    color: #999999;
}
footer a:hover {
    color: #bbbbbb;
}


/* navigation */
nav h1,
nav h2,
nav h3,
nav h4,
nav h5,
nav h6 {
    color: #55cc55;
}
nav p {
    text-align:justify;
    text-justify:inter-word;
    color: #448844;
}
nav a {
    color: #55aa55;
    text-decoration: underline;
}
nav a:hover {
    color: #55cc55;
    text-decoration: underline;
}

/* main content stuff */
main {
    margin: 20px;
    column-width: 20rem;
    column-gap: 2rem;
}
main .error {
    color: red;
    font-weight: bold;
}
main figure {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
              page-break-inside: avoid; /* Firefox */
                   break-inside: avoid; /* IE 10+ */
}
main figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}
main figure figcaption {
    margin: 0.5em;
    text-align: center;
    font-size: 90%;
}
main article p {
    text-align: justify;
    text-justify: inter-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
main article ol,
main article ul {
    text-align: justify;
    text-justify: inter-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
main article em {
    color: #cccccc;
}
main article code {
    color: #eeeeee;
}
main article a {
    color: #cccccc;
    text-decoration: underline;
}
main article a:hover {
    color: #eeeeee;
    text-decoration: underline;
}
main article strong a {
    text-decoration: none;
}
main article strong a:hover {
    text-decoration: none;
}
main article .ignored {
    color: #cccccc;
}
main article .ignored:hover {
    color: #eeeeee;
}
main article h1 a,
main article h2 a,
main article h3 a,
main article h4 a,
main article h5 a,
main article h6 a {
    color: #eeeeee;
    text-decoration: none;
}
main article h1 a:hover,
main article h2 a:hover,
main article h3 a:hover,
main article h4 a:hover,
main article h5 a:hover,
main article h6 a:hover {
    color: #eeeeee;
    text-decoration: underline;
}
main article footer h1,
main article footer h2,
main article footer h3,
main article footer h4,
main article footer h5,
main article footer h6,
main article footer li,
main article footer em {
    color: #777777;
}
main article footer a {
    color: #999999;
}
main article footer a:hover {
    color: #bbbbbb;
}

.arabic {
    direction: rtl;
    font-family: 'Amiri', serif;
    font-size: 150%;
    text-align: justify;
    text-justify: inter-word;
    color: #ffffff;
}
